[submodule "fonts/iosevka-comfy"]
	path = fonts/iosevka-comfy
	url = https://git.sr.ht/~protesilaos/iosevka-comfy
[submodule "fonts/Iosevka"]
	path = fonts/Iosevka
	url = https://github.com/be5invis/Iosevka.git
[submodule ".emacs.d/elpa"]
	path = .emacs.d/elpa
	url = https://github.com/jozhw/elpa.git
