# ignore emacs buffer files
*~

# ignore emacs package files
.emacs.d/var/*
.emacs.d/tmp/*
.emacs.d/etc/*
.emacs.d/*.eld
.emacs.d/transient/*
.emacs.d/tree-sitter/*
.emacs.d/dape-breakpoints
.emacs.d/straight/

# ignore machine-local application state
.config/beets/state.pickle
.config/cagent/.cagent_first_run
.config/cagent/user-uuid
.config/iterm2/AppSupport
.config/qBittorrent/
.config/varlock/config.json

# ignore sensitve signed files
*.signed

# ignore all compiled elisp
*.elc
*.gif

# ignore artifacts for docs
docs/resources/
docs/public/

# ignore env and keys
.env
.authinfo

################## for docs with astro starlight #####################
# build output
dist/
# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# environment variables
.env
.env.production
**/secrets
**/.secrets

# macOS-specific files
.DS_Store
