[submodule "fonts/iosevka-comfy"]
	path = fonts/iosevka-comfy
	url = https://git.sr.ht/~protesilaos/iosevka-comfy
[submodule "fonts/Iosevka"]
	path = fonts/Iosevka
	url = https://github.com/be5invis/Iosevka.git
[submodule ".dotfiles/.emacs.d/elpa"]
	path = .dotfiles/.emacs.d/elpa
	url = git@github.com:jozhw/elpa.git
