# ignore emacs buffer files
*~

# ignore emacs package files
.emacs.d/var/*
.emacs.d/tmp/*
.emacs.d/etc/*
.emacs.d/*.eld
.emacs.d/transient/*
.emacs.d/tree-sitter/*
.emacs.d/dape-breakpoints/*

# ignore sensitve signed files
*.signed

# ignore all compiled elisp
*.elc
*.gif

# Include only files and directories matching the pattern
!.emacs.d/elpa/[a-zA-Z0-9_@+-]*-[0-9]*.**
